@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #28352f;
}

.bars {
  width: 30px;
  height: 12px;
}

.headline {
  background: url('assets/header-illsutration-mobile.svg') no-repeat center;
  background-size: 100%;
  overflow: hidden;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 1.5rem auto 0 auto;
}

.headline h2 {
  font-weight: 700;
  font-size: 32px;
  color: #36b37e;
  margin: 1.5rem auto 0 auto;
}

.headline p {
  font-weight: 400;
  font-size: 20px;
  color: #172b4d;
  padding: 0 1rem 0 1rem;
  margin: 1rem auto 1rem auto;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto 0.5rem auto;
}

.socials li {
  list-style: none;
}

.navbar {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto 0.5rem auto;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #36b37e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon-btn:hover {
  background-color: #36b37e;
  border: 1px solid #36b37e;
}

@media screen and (min-width: 375px) {
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .headline {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-wrap: normal;
  }

  .socials {
    width: 50%;
    margin: 8px auto 8px auto;
  }
}
