@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-resizer {
  border: #45c58f 2px solid;
  width: 20px;
}

ul {
  padding-inline-start: 0;
  padding: 0;
}

/*  utility classes  */

.mb-2 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 0.5rem;
}

.relative {
  position: relative;
}

.absolute-b-r {
  position: absolute;
  bottom: 3rem;
  right: 0;
}

/* .section {

} */

/* toolbar */

.logo {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #28352f;
}

.bars {
  width: 30px;
  height: 12px;
}

/* headline */

.headline {
  background: url('assets/header-illsutration-mobile.svg') no-repeat center;
  background-size: 100%;
  overflow: hidden;
}

.container {
  padding: 0.5rem 0.5rem;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 1.5rem auto 0 auto;
}

.sub-title {
  font-weight: 700;
  font-size: 32px;
  color: #36b37e;
  margin: 1.5rem auto 0 auto;
}

.description {
  font-weight: 400;
  font-size: 20px;
  color: #172b4d;
  padding: 0 1rem 0 1rem;
  margin: 1rem auto 1rem auto;
}

.socials {
  margin: 2rem auto 2rem auto;
}

.socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li {
  list-style: none;
  margin: 0 0.5rem 0 0.5rem;
}

.scroll-down {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn:hover {
  background: #36b37e;
}

/* work section  */

.work-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.underline {
  width: 50%;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-top: 1rem;
}

.row {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  width: 100%;
}

.card {
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-media {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.card-title {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-tags li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  color: #172b4d;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  margin: 0.2rem;
}

.card-btn {
  padding: 0.8rem 1rem;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #fff;
  background: #36b37e;
  border-radius: 4px;
  border: none;
}

.card-btn:hover {
  background: #45c58f;
  transition: all 0.3s ease-in-out;
}

.about {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-btn {
  padding: 0.8rem 1rem;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #fff;
  background: #36b37e;
  border-radius: 4px;
  border: none;
}

.about-btn:hover {
  background: #45c58f;
  transition: all 0.3s ease-in-out;
}

.about-card {
  margin: 0.5rem auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
}

.about-title {
  color: #3a4a42;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.about-card-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.about-card-tags li {
  background: #fff;
  border-radius: 4px;
  color: #36b37e;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  margin: 0.2rem;
}

/* contact section  */

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  min-height: 48px;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-size: 16px;
  color: #172b4d;
  margin-bottom: 1rem;
}

.form-control:focus {
  outline: none;
  border: 1px solid #36b37e;
}

.form-btn {
  padding: 0.8rem 1rem;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #fff;
  background: #36b37e;
  border-radius: 4px;
  border: none;
}

.form-btn:hover {
  background: #45c58f;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 320px) {
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .ill-1 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .ill-2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-wrap: normal;
  }

  .about-card {
    max-width: 300px;
  }

  .row {
    grid-template-columns: 330px;
  }

  .underline {
    margin-top: 1rem;
    width: 48px;
  }
}
